<div [hidden]="!(state === -2)" (click)="start()">
  <img src="assets/SCREEN_1_ERROR.png"  class="image-overlay"/>
  <button mat-raised-button style="position: absolute;height: 274px;width: 745px;top: 1442px;left: 170px;z-index: 1000;opacity: 0;" ></button>
</div>


<div [hidden]="!(state === -1 && !webcamImage)" (click)="triggerSnapshot();">
  <img src="assets/SCREEN1.png"  class="image-overlay"/>

  <div style="text-align:center" [hidden]="!(!video && !webcamImage)" class="layered-image" style="top: 190px ;">
    <webcam [trigger]="triggerObservable"  (imageCapture)="handleImage($event)" *ngIf="showWebcam" class="image-base"
    [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
    [videoOptions]="videoOptions"
    [height]="900" [width]="1080"
    [imageQuality]="1"
    (cameraSwitched)="cameraWasSwitched($event)"
    (initError)="handleInitError($event)"

></webcam>

</div>
</div>

<div [hidden]="!(state === 0 && webcamImage)">
  <img src="assets/SCREEN2.png"  class="image-overlay"/>

  <div class="snapshot" style="text-align:center;top: 190px ;" class="layered-image" *ngIf="webcamImage">
    <img [src]="webcamImage.imageAsDataUrl"/>
      <button mat-raised-button color="primary" (click)="pickImage();" style="top: 400px ;margin-right: 100px;height: 500px;width: 400px;opacity: 0;z-index: 1000;"></button>
      <button mat-raised-button color="primary" (click)="repeatSnapshot();" style="top: 400px ;height: 500px;width: 400px;opacity: 0;z-index: 1000;"></button>
  </div>

</div>

<div [hidden]="!(state === 1)">
  <img src="assets/SCREEN_TELEFONO.png"  class="image-overlay"/>
  <div style="z-index: 1000;position: absolute;font-family: Myriadprobold;font-size: 69px;color: #fffefe;top: 427px;left: 478px;">{{number}}</div>

  <button (click)="digitar('1')" style="position: absolute;height: 197px;width: 244px;top: 582px;left: 165px;opacity: 0;z-index: 1000;" ></button>
  <button (click)="digitar('2')" style="position: absolute;height: 197px;width: 244px;top: 582px;left: 415px;opacity: 0;z-index: 1000;" ></button>
  <button (click)="digitar('3')" style="position: absolute;height: 197px;width: 244px;top: 582px;left: 670px;opacity: 0;z-index: 1000;" ></button>

  <button (click)="digitar('4')" style="position: absolute;height: 197px;width: 244px;top: 798px;left: 165px;opacity: 0;z-index: 1000;" ></button>
  <button (click)="digitar('5')" style="position: absolute;height: 197px;width: 244px;top: 798px;left: 415px;opacity: 0;z-index: 1000;" ></button>
  <button (click)="digitar('6')" style="position: absolute;height: 197px;width: 244px;top: 798px;left: 670px;opacity: 0;z-index: 1000;" ></button>

  <button (click)="digitar('7')" style="position: absolute;height: 197px;width: 244px;top: 1011px;left: 165px;opacity: 0;z-index: 1000;" ></button>
  <button (click)="digitar('8')" style="position: absolute;height: 197px;width: 244px;top: 1011px;left: 415px;opacity: 0;z-index: 1000;" ></button>
  <button (click)="digitar('9')" style="position: absolute;height: 197px;width: 244px;top: 1011px;left: 670px;opacity: 0;z-index: 1000;" ></button>

  <button (click)="digitar('0')" style="position: absolute;height: 197px;width: 244px;top: 1219px;left: 165px;opacity: 0;z-index: 1000;" ></button>
  <button (click)="digitar()" style="position: absolute;height: 197px;width: 500px;top: 1219px;left: 415px;opacity: 0;z-index: 1000;" ></button>

  <img src="assets/SCREEN_TELEFONO_BUTTON.png" *ngIf="webcamImage && number.length === 8 && !loading"  class="image-overlay"/>
  <img src="assets/SCREEN_TELEFONO_TEXTO_ERROR.png" *ngIf="numberAlert"  class="image-overlay"/>


  <button mat-raised-button (click)="completePhone()" style="position: absolute;height: 274px;width: 745px;top: 1442px;left: 165px;z-index: 1000;opacity: 0;" ></button>
</div>

<div [hidden]="!(state == 3)">
  <img src="assets/SCREEN4.png"  class="image-overlay"/>
  <img src="assets/gifs/VIDEO1.gif" style="position: absolute;height: 363px;width: 363px;top: 440px;left: 114px;" />
  <img src="assets/gifs/VIDEO2.gif" style="position: absolute;height: 363px;width: 363px;top: 444px;left: 601px;" />
  <img src="assets/gifs/VIDEO3.gif" style="position: absolute;height: 363px;width: 363px;top: 889px;left: 114px;" />
  <img src="assets/gifs/VIDEO4.gif" style="position: absolute;height: 363px;width: 363px;top: 889px;left: 601px;" />
  <img src="assets/gifs/VIDEO5.gif" style="position: absolute;height: 363px;width: 363px;top: 1339px;left: 114px;" />
  <img src="assets/gifs/VIDEO6.gif" style="position: absolute;height: 363px;width: 363px;top: 1339px;left: 601px;" />

  <button *ngIf="!loading && state === 3" (click)="callSwapface('VIDEO1.mp4')" style="position: absolute;height: 363px;width: 363px;top: 440px;left: 114px;opacity: 0;z-index: 1000;" ></button>
  <button *ngIf="!loading && state === 3" (click)="callSwapface('VIDEO2.mp4')" style="position: absolute;height: 363px;width: 363px;top: 444px;left: 601px;opacity: 0;z-index: 1000;" ></button>
  <button *ngIf="!loading && state === 3" (click)="callSwapface('VIDEO3.mp4')" style="position: absolute;height: 363px;width: 363px;top: 889px;left: 114px;opacity: 0;z-index: 1000;" ></button>
  <button *ngIf="!loading && state === 3" (click)="callSwapface('VIDEO4.mp4')" style="position: absolute;height: 363px;width: 363px;top: 889px;left: 601px;opacity: 0;z-index: 1000;" ></button>
  <button *ngIf="!loading && state === 3" (click)="callSwapface('VIDEO5.mp4')" style="position: absolute;height: 363px;width: 363px;top: 1339px;left: 114px;opacity: 0;z-index: 1000;" ></button>
  <button *ngIf="!loading && state === 3" (click)="callSwapface('VIDEO6.mp4')" style="position: absolute;height: 363px;width: 363px;top: 1339px;left: 601px;opacity: 0;z-index: 1000;" ></button>
</div>

<div [hidden]="!(state === 4)">
  <img src="assets/SCREENLOADING.gif"  class="image-overlay"/>
</div>

<div [hidden]="!(state === 5)">
  <img src="assets/SCREEN_RESULTADO.png"  class="image-overlay"/>

  <video *ngIf="video" style="position: absolute;height: 865px;width: 864px;top: 282px;left: 108px;z-index: -100;object-fit: fill;" autoplay #videoPlayer (click)="toggleVideo()" loop>
    <source [src]="video" type="video/mp4">
  </video>

  <button mat-raised-button (click)="clear()" style="position: absolute;height: 274px;width: 745px;top: 1442px;left: 165px;z-index: 1000;opacity: 0;"></button>
</div>

<div [hidden]="!(state === 9)">
  <img src="assets/SCREEN_1_ERROR.png"  class="image-overlay"/>
  <button mat-raised-button (click)="clear()" style="position: absolute;height: 274px;width: 745px;top: 1442px;left: 170px;z-index: 1000;opacity: 0;" ></button>
</div>
